@font-face {
    font-family: Jeju;
    src: url("fonts/JejuMyeongjo.ttf");
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overscroll-behavior: none;
    touch-action: none;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    clip-path: border-box;
}

.main {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 32px;
    padding-bottom: calc(32px + env(safe-area-inset-bottom));
    justify-content: space-between;
}

:root {
    --white: #efefef;
    --black: #010203;
    --gradient1: #ffd7f4;
    --gradiebt2: #fffbf1;
    --gradient3: #eceaff;
    --gradent4: #ecdeff;
    --gradent5: #fdfff3;
}


.sign {
    max-width: 120px;
    z-index: 8;
}


.menu {
    display: flex;
    flex-direction: column;
    gap: 32px;
    z-index: 8;
    width: fit-content;
}

.menu__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 8px;
}

a {
    text-decoration: none;
    color: var(--white);
    font-size: 32px;
    font-family: Jeju;
    transition: 0.1s;
    -webkit-tap-highlight-color: transparent;
}

li {
    max-width: fit-content;
    transition: 0.3s;
}

li:hover {
    transform: scaleY(1.5);
}

a:hover {
    font-weight: bolder;
}

.gradient {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    mix-blend-mode: overlay;
    background-size: cover;
}

.gradient--1 {
    width: 100vw;
    height: 100vh;
    background:
        radial-gradient(circle at 10% 20%, var(--gradient1), transparent 30%),
        radial-gradient(circle at 90% 80%, var(--gradiebt2), transparent 30%),
        radial-gradient(circle at 50% 50%, var(--gradient3), var(--gradent4), transparent 30%);
    transition: opacity 8s, background-position 8s, background-size 8s;
}

.gradient--2 {
    width: 200vw;
    height: 200vh;
    background:
        radial-gradient(circle at 20% 10%, var(--gradient1), transparent 30%),
        radial-gradient(circle at 80% 90%, var(--gradiebt2), transparent 30%),
        radial-gradient(circle at 50% 50%, var(--gradient3), var(--gradent4), transparent 30%);
    transition: opacity 8s, background-position 8s, background-size 8s;
    background-repeat: no-repeat;
}

.cursor{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 0;
    left: 0;
    transform-origin: center;
    width: 300px;
    height: 300px;
    z-index: 7;
    transition: width 0.3s, height 0.3s, opacity 0.3s;
    mix-blend-mode: hard-light;
    opacity: 0;
}

.character {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: url("images/character.png");
    background-position: calc(50% - (1920px - 100vw)/10) 50%;
    z-index: 2;
    background-repeat: no-repeat;
}

.background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120vw;
    height: 120vh;
    background-size: cover;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}

.loading{
    background-color: var(--black);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    transition: opacity 1s;
}